#button {
    background-color: aquamarine;
    color: green;
    padding: 20px;
    border: 1px solid black
}
#boton02 {
    background-color: green;
    color: green;
    padding: 20px;
    border: 1px solid black
}